@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662794324819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e66d";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-fasong:before {
  content: "\e608";
}

.icon-wode:before {
  content: "\e606";
}

.icon-youjian:before {
  content: "\e607";
}

