@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662451219646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 8px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiang-you:before {
  content: "\e6cd";
}

.icon-fangxiang-zuo:before {
  content: "\e6ce";
}

