.main_container {
    height: 80.25vh;
    margin-top: 0.781vw;

    .topBar_container {
        background-color: #0b0e56;
        height: 3.646vw;
        display: flex;
        align-items: center;

        .selectBar_container {
            
            padding: 0 1.802vw;
            display: flex;
            align-items: center;
            height: 100%;

            .menu_item {
                cursor:pointer;
                color: #7279ca;
                font-size: 1.138vw;
                width: 5.908vw;
                // display: inline-block;
                // height: 100%;

            }
            .target {
                position: relative;
                color: #7528e1 ;
                font-size: 1.138vw; 
                width: 5.908vw;

            }
            .target::after{
                position: absolute;
                bottom: -5px;
                left: -5px;
                content: "";
                height: 2px;
                width: 5.429vw;
        
                background-color: #7528e1 ;
            }

        }

        .input_container {
            // height: 100%;
            height: 2.204vw;
            width: 19.625vw;
            // background-color: white;
            background-color: #333536;
            display: flex;
            align-items: center;

            .search_icon {
                font-size: 1.346vw;
                color: white;
                margin: 0 0.581vw;
            }

            >input {
                // height: 1.604vw;
                // background-color: #333536;
                border: 0;
                background-color: rgba(12, 23, 80, 0);
                height: 100%;
                width: 100%;
            }

            input:focus {
                outline: none;
            }
        }
    }

    .serviceList_container {
        overflow-y: scroll;
        height: 36.042vw;
        // height: 39.042vw;
    }
}