<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        
        <!-- 动态组件 -->
        <component :is="chance"></component>

        <!-- 传统 -->
        <!-- <child-one v-if="chance === 'child-one'"></child-one>
        <child-two v-if="chance === 'child-two'"></child-two> -->
        <button @click="handleChange">点击</button>
    </div>

    <script>
        // v-once指令可以将组件保存到内存中，加入组件是静态组件数据不会发生变化的，则可以减少浏览器的重复渲染而增强性能
        Vue.component('child-one',{
            template:`<div v-once>
                    child-one
                </div>`
        })

        Vue.component('child-two',{
            template:`<div v-once> 
                    child-two
                </div>`
        })

        var vm = new Vue({
            el:'#root',
            data:{
                chance : 'child-one'
            },
            methods: {
                handleChange:function(){
                    this.chance = this.chance === 'child-one' ? 'child-two' : 'child-one'
                }
            },
        })
    </script>
</body>
</html>